{% extends 'bookings/base.html' %}

{% block title %}Movie List - Movie Theater Booking{% endblock %}

{% block content %}
<h1>Available Movies</h1>

{% if movies %}
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
        {% for movie in movies %}
            <div class="col">
                <div class="card h-100 shadow-sm">
                    <div class="card-body">
                        <h5 class="card-title">{{ movie.title }}</h5>
                        <p class="card-text">{{ movie.description }}</p>
                        <ul class="list-unstyled">
                            <li><strong>Duration:</strong> {{ movie.duration }} minutes</li>
                            <li><strong>Release Date:</strong> {{ movie.release_date|date:"M d, Y" }}</li>
                        </ul>
                        <a href="{% url 'bookings:book_seat' movie.id %}" class="btn btn-primary w-100">
                            Book Now
                        </a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% else %}
    <div class="alert alert-info">
        <h4>No movies available at the moment.</h4>
        <p>Please check back later for exciting upcoming movies!</p>
    </div>
{% endif %}
{% endblock %}
